@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.headerContainer {
  display: flex;
  justify-content: space-around;
  border: 2px solid v.$borderLine;
  align-items: center;
  padding: 0.5rem;
  background-color: v.$backgroundPrimary;
  border: 0.2rem solid v.$borderLine;

  .containerLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .containerImg {
      img {
        max-width: 3rem;

        @include m.headerMq(990px) {
          max-width: 5rem;
        }
      }
    }

    h1 {
      color: v.$primary;
      font-size: 1.5rem;
      display: flex;
      border-left: 2px solid v.$primary;
      margin: 0 0 0 0.8rem;
      padding: 0 0 0 0.7rem;

      @include m.headerMq(990px) {
        font-size: 2rem;
      }

      span {
        color: black;
        margin-left: 0.6rem;
      }
    }
  }

  .containerNav {
    font-size: 1.3rem;

    @include m.headerMq(990px) {
      font-size: 1.6rem;
    }

    .activeLink {
      color: v.$primary;
      font-family: v.$fontSecondary;
      font-style: italic;
      font-weight: 500;

      &:nth-child(2) {
        margin: 0 1rem;
      }
    }

    .inactiveLink {
      color: black;
      font-family: v.$fontSecondary;
      font-style: italic;
      font-weight: 500;
      transform: transform color;
      transition-duration: 0.3s;

      &:nth-child(2) {
        margin: 0 0.8rem;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.3);
        color: v.$primary;
      }
    }
  }

  .inputContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 15rem;

    @include m.headerMq(990px) {
      width: 30rem;
    }

    input {
      border: none;
      border-radius: 9rem;
      background-color: v.$backgroundBody;
      margin: 1rem auto;
      max-width: 80%;
      padding: 1rem 2rem;
      font-family: v.$fontSecondary;
      font-style: italic;
      font-size: 1.4rem;
      outline: 0.3rem solid v.$borderLine;

      &::placeholder {
        color: rgba(0, 0, 0, 0.584);
      }

      &:focus {
        outline: 2px solid v.$primary;

        &::placeholder {
          color: v.$backgroundBody;
        }
      }
    }

    .searchIcon {
      position: absolute;
      color: v.$primary;
      font-size: 3rem;
      right: 21%;
      transition-property: transform color;
      transition-duration: 0.9s;

      &:hover {
        transform: scale(1.2) rotate(360deg);
        color: #00cdff;
      }
    }
  }

  .containerUser {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      display: none;
      color: v.$primary;
      font-family: v.$fontSecondary;
      font-weight: bold;
      font-size: 1.4rem;

      @include m.headerMq(990px) {
        display: block;
      }

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .signOff {
      margin: 0 0 0 1rem;
      font-size: 2.5rem;
      color: v.$primary;
      transition-property: transform color;
      transition-duration: 0.9s;

      @include m.headerMq(990px) {
        font-size: 2rem;
      }

      &:hover {
        transform: scale(1.3);
        color: #00cdff;
      }
    }
  }
}

.burguerButton {
  color: blue;
}
