@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.headerContainer {
  display: flex;
  justify-content: space-between;
  outline: 2px solid v.$borderLine;
  align-items: center;
  background-color: v.$backgroundPrimary;

  @include m.headerMq(990px) {
    justify-content: space-evenly;
  }

  // Logo
  .containerLogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;

    @include m.headerMq(990px) {
      flex-direction: row;
    }

    .containerImg {
      img {
        max-width: 3rem;

        @include m.headerMq(990px) {
          max-width: 5rem;
        }
      }
    }

    h1 {
      color: v.$primary;
      font-size: 1.2rem;
      display: flex;
      line-height: 0;

      @include m.headerMq(990px) {
        font-size: 2rem;
        margin: 0 0 0 0.8rem;
        padding: 0 0 0 0.7rem;
        border-left: 2px solid v.$primary;
        line-height: 1;
      }

      span {
        color: black;
        margin-left: 0.6rem;
      }
    }
  }

  // Nav
  .containerNav {
    font-size: 1.3rem;
    display: none;

    &.burguerNavButton {
      background-color: v.$backgroundPrimary;
      width: 100%;
      height: 7rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      position: absolute;
      margin-top: 12rem;
      padding: 0;
    }

    @include m.headerMq(650px) {
      font-size: 1.6rem;
      display: block;
    }

    .activeLink {
      color: v.$primary;
      font-family: v.$fontSecondary;
      font-style: italic;
      font-weight: 500;

      &:nth-child(2) {
        margin: 0 1rem;
      }
    }

    .inactiveLink {
      color: black;
      font-family: v.$fontSecondary;
      font-style: italic;
      font-weight: 500;
      transform: transform color;
      transition-duration: 0.3s;

      &:nth-child(2) {
        margin: 0 0.8rem;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.3);
        color: v.$primary;
      }
    }
  }

  // Searching Input
  .inputContainer {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 50%;
    margin-left: auto;

    @include m.headerMq(650px) {
      margin: 0;
    }

    input {
      border: none;
      border-radius: 9rem;
      background-color: v.$backgroundBody;
      margin: 1rem auto;
      width: 80%;
      padding: 1rem 2rem;
      font-family: v.$fontSecondary;
      font-style: italic;
      font-size: 1.4rem;
      outline: 0.3rem solid v.$borderLine;

      &::placeholder {
        color: rgba(0, 0, 0, 0.584);
        font-size: 1.2rem;

        @include m.headerMq(650px) {
          font-size: 1.4rem;
        }
      }

      &:focus {
        outline: 2px solid v.$primary;

        &::placeholder {
          color: v.$backgroundBody;
        }
      }
    }

    // Search icon
    .searchIcon {
      position: absolute;
      color: v.$primary;
      font-size: 3rem;
      right: 15%;
      transition-property: transform color;
      transition-duration: 0.9s;

      &:hover {
        transform: scale(1.2) rotate(360deg);
        color: #00cdff;
      }
    }
  }

  // User
  .containerUser {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      display: none;
      color: v.$primary;
      font-family: v.$fontSecondary;
      font-weight: bold;
      font-size: 1.4rem;

      @include m.headerMq(990px) {
        display: block;
      }
    }

    // Log out icon
    .signOff {
      margin: 0 0 0 1rem;
      font-size: 2.5rem;
      color: v.$primary;
      transition-property: transform color;
      transition-duration: 0.9s;
      display: none;

      @include m.headerMq(650px) {
        display: block;
        font-size: 3rem;
      }

      &:hover {
        transform: scale(1.3);
        color: #00cdff;
      }
    }
  }
}

// Shopping Cart
.shoppingCart {
  color: v.$primary;
  font-size: 3rem;
  margin-right: 1rem;
  transition-property: transform color;
  transition: 0.7s;

  &:hover {
    transform: scale(1.3);
    color: #00cdff;
  }
}

// Burger button container
.burgerButton {
  margin-left: auto;
  @include m.headerMq(650px) {
    display: none;
  }
}
