@use "../base/variables.scss" as v;

.mainContainer {
   margin: autos;
   background-color: v.$backgroundPrimary;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   form {
      width: 80%;
      padding: 1rem;
      outline: 1px solid v.$backgroundBody;

      .selectContainer {
         width: 80%;
         display: flex;
         flex-direction: column;
         margin: 2rem auto;

         select:first-child {
            margin-bottom: 1.5rem;
         }
      }
   }
}

.uploadContainer {
   margin: 4rem auto;

   .inputContainer {
      margin: 0 auto;
      position: relative;
      padding: 0.8rem;
      text-align: center;
      width: 60%;
      background-color: v.$backgroundBody;
      border-radius: 2rem;
      transition: all 0.7s ease;

      &:hover {
         background-color: v.$primary;
         transition: all 0.7s ease;

         p {
            color: v.$backgroundBody;
            transition: all 0.7s ease;
         }
      }

      p {
         margin: auto;
         font-family: v.$fontSecondary;
         font-size: 1.4rem;
         font-weight: bold;
         color: v.$primary;

         display: flex;
         justify-content: center;
         align-items: center;

         .icon {
            margin-right: 1rem;
            font-size: 3.5rem;
         }
      }

      input {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0px;
         left: 0px;
         right: 0px;
         bottom: 0px;
         opacity: 0;

         &:hover {
            cursor: pointer;
         }
      }
   }

   .imgContainer {
      margin: 2rem auto;
      width: 20rem;
      height: 18rem;
      outline: 1px solid v.$backgroundBody;
      background-color: v.$backgroundBody;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }
}

.iconContainer {
   margin-top: 1.8rem;
   margin-bottom: 1rem;
   text-align: center;

   .icon {
      color: v.$primary;
      font-size: 4rem;
      align-self: flex-end;
   }
}
