@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.container {
   width: 95%;
   outline: 1px solid v.$primary;
   border-radius: 1rem;
   margin: 3rem auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   @include m.manageSubcategoriesMq {
      width: 45%;
      border-radius: 0.5rem 6rem 0.5rem 6rem;
   }

   h2 {
      margin-bottom: 3rem;
      font-family: v.$fontPrimary;
      font-size: 2rem;
      color: v.$primary;

      @include m.manageSubcategoriesMq {
         font-size: 3rem;
         margin-bottom: 6rem;
      }
   }

   form {
      @include m.manageSubcategoriesMq {
         width: 90%;
      }

      & > div {
         margin-bottom: 2rem;
         text-align: center;
      }

      &:last-child {
         margin-bottom: 1rem;
      }

      input[type="submit"] {
         margin-top: 3rem;
      }
   }
}

.iconContainer {
   margin-top: 1.8rem;
   margin-bottom: 1rem;
   .icon {
      color: v.$primary;
      font-size: 4rem;
      align-self: flex-end;
   }
}
