@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.container {
   outline: 1px solid blue;
   margin: 3rem auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h2 {
      margin-bottom: 2rem;
      font-family: v.$fontPrimary;
   }

   form {
      width: 90%;

      & > div {
         margin-bottom: 1rem;
         text-align: center;
      }
   }
}
