@use "../base/variables.scss" as v;

.manageSubcategoriesContainer {
   background-color: v.$backgroundPrimary;
   display: flex;
   flex-direction: column;
   align-items: center;

   h4 {
      font-family: v.$fontSecondary;
      font-weight: 800;
      color: v.$primary;
      margin: 5rem 0 1.8rem 0;
   }

   .containerSelects {
      display: flex;
      flex-direction: column;

      select {
         margin-bottom: 1rem;
      }
   }
}
