@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.manageSubcategoriesContainer {
   background-color: v.$backgroundPrimary;
   display: flex;
   flex-direction: column;
   align-items: center;

   h4 {
      text-align: center;
      font-family: v.$fontSecondary;
      font-weight: 800;
      color: v.$primary;
      margin: 5rem 0 1.8rem 0;

      @include m.manageSubcategoriesMq {
         font-size: 3rem;
         margin-bottom: 4rem;
      }
   }

   .containerSelects {
      width: 90%;
      display: flex;
      flex-direction: column;

      @include m.manageSubcategoriesMq {
         width: 60%;
         flex-direction: row;
         justify-content: space-around;
      }

      select {
         margin-bottom: 1.5rem;
      }
   }
}
