@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.navContainer {
   height: 20rem;
   padding: 5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: v.$backgroundPrimary;
   text-align: center;

   h3 {
      font-family: v.$fontSecondary;
      font-size: 1.8rem;
      color: v.$primary;
      margin-bottom: 3rem;

      @include m.manageProductsNav {
         font-size: 3rem;
      }
   }

   .linksContainer {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include m.manageProductsNav {
         width: 100%;
         justify-content: space-evenly;
      }

      .navLink {
         display: flex;
         align-items: center;
         font-family: v.$fontSecondary;
         color: v.$primary;
         transform: transform color;
         transition: 0.5s;

         &:hover {
            cursor: pointer;
            color: v.$hoverHeader;
            transform: scale(1.1);
         }

         h4 {
            display: none;

            @include m.manageProductsNav {
               display: block;
               margin-right: 1rem;
               font-size: 2rem;
            }
         }

         .icon {
            font-size: 3rem;
         }
      }

      .clickedLink {
         color: v.$hoverHeader;

         .icon {
            font-size: 4rem;
            transition: all 0.4s ease;
         }
      }
   }
}
