@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.containerNav {
  background-color: v.$backgroundPrimary;
  height: 100vh;
  display: flex;
  position: absolute;
  left: -18.152rem;
  transition: all 0.6s ease;
  z-index: 2;

  @include m.settingsNavMq {
    position: initial;
  }

  &.open {
    left: 0rem;
  }

  .containerLinks {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-top: 7rem;

    & > * {
      text-align: left;
      margin: 0.7rem 2rem;
      font-family: v.$fontSecondary;
      font-style: italic;
      font-size: 1.2rem;
      transition: all 0.6s ease;

      &.activeLink {
        transform: scale(1.1);
        color: v.$primary;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: v.$primary;
      }
    }
  }

  .icon {
    font-size: 3.5rem;
    margin: auto;
    color: v.$primary;
    transition: all 0.7s ease;

    @include m.settingsNavMq {
      display: none;
    }

    &.open {
      color: v.$hoverHeader;
      transform: rotate(180deg);
    }

    &:hover {
      color: v.$hoverHeader;
      transform: rotate(180deg);
    }
  }
}
