@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.containerTable {
   background-color: v.$backgroundPrimary;
   padding-bottom: 1rem;

   .table {
      border-collapse: collapse;
      width: 100%;
      max-width: 98%;
      margin: auto;
      box-shadow: 0px 10px 10px v.$secondary;
      border-radius: 10px;
      overflow: hidden;

      thead {
         background-color: v.$primary;
         color: v.$backgroundBody;
         font-family: v.$fontPrimary;
         font-size: 1.3rem;
      }

      .tName {
         color: rgba(0, 0, 0, 0.882);
      }

      th,
      td {
         padding: 0.7rem;
         text-align: center;
      }

      td {
         font-size: 1.2rem;
         border-top: 1px solid v.$secondary;
         color: v.$secondary;
      }

      .expand {
         width: 100%;
         display: none;
      }
      .statusLabel {
         color: v.$borderLine;
         padding: 0.6rem;
         border-radius: 10px;

         &.active {
            background-color: v.$primary;
         }

         &.inactive {
            background-color: rgba(255, 0, 0, 0.622);
         }
      }

      .icon {
         color: v.$primary;
         font-size: 1.7rem;
         transition: all 0.6s ease;

         &:hover {
            color: v.$hoverHeader;
         }
      }
   }
}

// Media queries
@include m.productTableMq(700px) {
   .containerTable {
      .table {
         thead {
            font-size: 1.8rem;
         }

         th,
         td {
            font-size: 1.4rem;
            padding: 1rem;
         }

         .icon {
            font-size: 2.4rem;
         }
      }
   }
}

@include m.productTableMq(1000px) {
   .containerTable {
      .table {
         max-width: 95%;

         .expand {
            display: table-cell;
         }

         th {
            font-size: 1.7rem;
         }

         th,
         td {
            padding: 1.2rem;
         }

         .icon {
            font-size: 2.8rem;
         }
      }
   }
}
