@use "../base/variables" as v;
@use "../base//mixins" as m;

.container {
   margin-top: 1rem;

   .discountContainer {
      margin: 0 auto 2rem auto;
      outline: 2px solid black;
      overflow: hidden;
      width: 98%;
      border-radius: 1rem;

      img {
         width: 100%;
      }
   }

   //* Carousel-1.
   .carousel1Container {
      margin: 1.5rem auto;
      width: 98%;
      height: 20rem;
      outline: 2px double v.$secondary;
      border-radius: 1rem;
      overflow: hidden;
      background-color: v.$backgroundPrimary;

      @include m.HomeMq(600px) {
         height: 35rem;
      }

      img {
         width: 100%;
         height: 15rem;
         border-radius: 1rem;
         object-fit: cover;
         opacity: 0;
         transition: all 2s ease;

         &.loaded {
            opacity: 1;
         }

         @include m.HomeMq(600px) {
            height: 30rem;
         }
      }
   }

   //* Carousel-2.
   .carousel2Container {
      padding: 2rem 0 4rem 0;
      margin: 2rem;
      background-color: v.$backgroundPrimary;
      border: 2px dotted v.$secondary;
      border-radius: 2rem;

      h3 {
         text-align: center;
         font-family: v.$fontSecondary;
         color: v.$primary;
         font-size: 4rem;
         font-weight: 800;

         &.color1 {
            color: v.$primary;
         }
         &.color2 {
            color: v.$hoverHeader;
         }
         &.color3 {
            color: v.$secondary;
         }
      }

      .cardContainer {
         margin: 2rem;
         box-shadow: -4px 1px 33px 1px v.$secondary;
         border-radius: 1.2rem;
         min-height: 25rem;
         text-align: center;
         background: whitesmoke;
         display: flex;
         flex-direction: column;
         transition: all 0.4s ease;

         &:hover {
            box-shadow: -4px 1px 33px 1px v.$primary;
         }

         .imgContainer {
            height: 15rem;

            img {
               border: 1px solid v.$borderLine;
               border-radius: 1rem;
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }

         .priceContainer {
            p {
               padding: 0;
               font-family: v.$fontPrimary;
               font-weight: 300;
               color: v.$primary;
            }
         }

         .descriptionContainer {
            height: 8rem;
            background: v.$backgroundBody;
            border-radius: 2rem;
            overflow: auto;

            p {
               padding: 0 1rem;
               font-family: v.$fontSecondary;
               font-size: 1.4rem;
            }
         }

         .buttonContainer {
            background-color: v.$backgroundPrimary;
            max-width: 100%;
            padding: 1rem;
            display: flex;
            justify-content: center;

            button {
               margin: 0 0.3rem;
               border: none;
               border-radius: 10px;
               background-color: v.$primary;
               padding: 1rem;
               color: v.$backgroundBody;
               font-size: 1.3rem;
               font-weight: 800;
               transition-property: transform background-color;
               transition-duration: 0.4s;

               @include m.generalFormMq {
                  font-size: 1.3rem;
               }

               &:hover {
                  cursor: pointer;
                  transform: scale(1.02);
                  background-color: #1e90ff;
               }
            }
         }
      }
   }
}

.contactContainer {
   margin: 2rem auto;
   padding: 1rem;
   background-color: v.$backgroundPrimary;
   border: 1px dotted v.$secondary;
   border-radius: 2rem;
   width: 90%;
   text-align: center;

   h3 {
      font-size: 2.2rem;
      font-family: v.$fontSecondary;
      color: v.$primary;
   }

   .infoContainer {
      display: grid;
      gap: 3rem;
      grid-auto-columns: auto;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
      grid-auto-flow: row;

      .locationItemm {
         padding: 1.5rem;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: v.$backgroundPrimary;
         outline: 4px ridge v.$hoverHeader;
         border-radius: 1rem;

         p {
            color: v.$secondary;
            font-family: v.$fontPrimary;
            font-size: 1.8rem;
            font-style: italic;
         }

         .locationIcon {
            color: v.$primary;
            font-size: 2.5rem;
         }
      }

      .contactsContainer {
         padding: 1.5rem;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         background-color: v.$backgroundPrimary;
         outline: 4px ridge v.$hoverHeader;
         border-radius: 1rem;

         .iconContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon {
               color: v.$primary;
               font-size: 2.5rem;
            }

            p {
               &:first-child {
                  color: v.$hoverHeader;
                  font-family: v.$fontSecondary;
                  font-size: 2.2rem;
                  font-style: italic;
                  font-weight: 600;
               }

               margin-top: 0.5rem;
               color: v.$secondary;
               font-family: v.$fontSecondary;
               font-size: 1.6rem;
               font-style: italic;

               span {
                  color: black;
                  font-size: 1.5rem;
                  font-family: v.$fontPrimary;
               }
            }
         }
      }
   }
}
