@use "../base/variables" as v;
@use "../base//mixins" as m;

.container {
   margin-top: 1rem;

   .discountContainer {
      margin: 0 auto;
      outline: 2px solid black;
      overflow: hidden;
      width: 98%;
      border-radius: 1rem;

      img {
         width: 100%;
      }
   }

   .carousel1Container {
      margin: 1.5rem auto;
      width: 98%;
      height: 20rem;
      outline: 1px solid v.$secondary;
      border-radius: 1rem;
      overflow: hidden;
      background-color: v.$backgroundPrimary;

      @include m.HomeMq(600px) {
         height: 35rem;
      }

      img {
         width: 100%;
         height: 15rem;
         border-radius: 1rem;
         object-fit: cover;
         opacity: 0;
         transition: all 2s ease;

         &.loaded {
            opacity: 1;
         }

         @include m.HomeMq(600px) {
            height: 30rem;
         }
      }
   }
}
