@use "../base/variables" as v;
@use "../base//mixins" as m;

.container {
   .carousel1 {
      margin: 0 auto;
      height: 20rem;
      max-width: 90%;
      width: 100%;
      background-color: red;
      object-fit: cover;
   }
}
