@use "../base/variables.scss" as v;

.containerModal {
   background-color: v.$backgroundPrimary;
   color: v.$primary;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 5;

   h3 {
      text-align: center;
      font-family: v.$fontSecondary;
      font-style: italic;
   }
}
