@use '../base/variables' as v;

html {
    font-size: 62.5%; /* 1REM === 10PX */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    background-color: #369457;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
