// Fonts
$fuentePrincipal: "Roboto", sans-serif;
$fuenteSecundaria: "Raleway", sans-serif;
$fuenteExtra: "Bona Nova", serif;

// colors
$backgroundBody: #eceeef;
$backgroundPrimary: #fafbfd;
$primary: #2196f3;
$secondary: #909090;
$borderLine: #fff8e7;

// Media quieries
