// Fonts
$fontPrimary: "Shantell Sans", cursive;
$fontSecondary: "Montserrat", sans-serif;

// colors
$backgroundBody: #eceeef;
$backgroundPrimary: #fafbfd;
$primary: #2196f3;
$secondary: #909090;
$borderLine: #fff8e7;
