// Fonts
$fuentePrincipal: "Roboto", sans-serif;
$fuenteSecundaria: "Raleway", sans-serif;
$fuenteExtra: "Bona Nova", serif;

// Media quieries

// colors
$primary: #ff914d;
$secundary: #2196f3;
$backgroundColor: #eceeef;
