@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.confirmAccountContainer {
  display: flex;
  flex-direction: column;
  margin: 8rem auto;
  border: 0.2rem solid v.$borderLine;
  border-radius: 2rem;
  overflow: hidden;

  @include m.generalFormMq {
    border-radius: 2rem 8rem 2rem 8rem;
  }

  .containerImage {
    img {
      height: 13rem;
      object-fit: cover;
      width: 100%;

      @include m.generalFormMq {
        height: 32rem;
      }
    }
  }
}

.containerNav {
  .link {
    font-family: v.$fontSecondary;
    color: v.$primary;
    font-weight: bold;
    font-style: italic;
    font-size: 1.6rem;

    @include m.generalFormMq {
      font-size: 1.8rem;
    }
  }
}
