@use "../base/variables.scss" as v;
@use "../base/mixins.scss" as m;

.mainContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 1rem;
   border: 2px double v.$borderLine;
   background-color: whitesmoke;

   @include m.ProductListCart(1000px) {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 2rem;
   }
}

.sectionProducts {
   width: 90%;

   @include m.ProductListCart(1000px) {
      border: 1px solid v.$primary;
      border-radius: 2rem;
      width: 66%;
      height: 45rem;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 0;

      &.lessThreeProducts {
         justify-content: center;
         padding: 0;
      }
   }

   article {
      background-color: v.$backgroundPrimary;
      margin-top: 1rem;
      border: 1px inset v.$borderLine;
      border-radius: 1.5rem;
      padding: 1rem;

      @include m.ProductListCart(1000px) {
         display: flex;
         flex-direction: row;
         width: 95%;
         margin: 0.6rem;
      }

      .imgNameContainer {
         margin: 0 auto;
         width: 90%;
         display: flex;
         justify-content: center;
         align-items: center;
         border: 2px dotted v.$secondary;
         border-radius: 1rem;

         @include m.ProductListCart(1000px) {
            margin-left: 1rem;
         }

         figure {
            height: 7rem;
            width: 30%;
            margin: 1rem;
            background-color: v.$backgroundPrimary;

            img {
               border: 1px double v.$primary;
               border-radius: 1rem;
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }

         p {
            text-align: center;
            width: 30%;
            color: v.$primary;
            font-family: v.$fontSecondary;
            font-style: italic;
            font-weight: 600;
            font-size: 1.4rem;

            @include m.ProductListCart(1000px) {
               font-size: 1.7rem;
            }
         }
      }

      .addSubtractContainer {
         margin: 1rem auto;
         display: flex;
         justify-content: space-around;
         align-items: center;
         width: 95%;

         .iconsContainer {
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
            background-color: v.$backgroundBody;
            border-radius: 1rem;

            .icons {
               color: v.$primary;
               font-size: 3rem;
               transition: all 0.4s ease;

               &:hover {
                  color: v.$hoverHeader;
               }
            }

            .quantity {
               text-align: center;
               font-family: v.$fontPrimary;
               font-weight: 600;
               font-style: italic;
               font-size: 1.2rem;
               color: black;

               @include m.ProductListCart(1000px) {
                  font-size: 1.7rem;
               }
            }
         }

         .pricesContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            p {
               &:first-child {
                  color: black;
                  font-size: 1.3rem;

                  @include m.ProductListCart(1000px) {
                     font-size: 1.5rem;
                  }
               }

               &:last-child {
                  color: v.$secondary;
                  font-size: 1.2rem;

                  @include m.ProductListCart(1000px) {
                     font-size: 1.4rem;
                  }
               }
            }

            .price {
               margin: 0.4rem;
            }
         }

         .removeContainer {
            background-color: v.$backgroundBody;
            border-radius: 2rem;
            height: 4.5rem;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            .iconRemove {
               color: v.$primary;
               font-size: 2.4rem;
               transition: all 0.4s ease;

               @include m.ProductListCart(1000px) {
                  font-size: 3rem;
               }

               &:hover {
                  color: red;
               }
            }
         }
      }
   }
}

.sectionPrices {
   margin-top: 1.2rem;
   margin-bottom: 2rem;
   background-color: v.$backgroundPrimary;
   border: 1px inset v.$primary;
   border-radius: 1rem;
   width: 25rem;
   overflow: hidden;

   @include m.ProductListCart(1000px) {
      width: 32rem;
      height: 28rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .containerPrices {
      padding: 0rem 2rem;

      p {
         display: flex;
         justify-content: space-between;
         color: v.$primary;
         font-family: v.$secondary;

         span {
            color: v.$secondary;
         }

         &:nth-child(2) {
            padding-bottom: 1.2rem;
            border-bottom: 0.5px solid v.$secondary;
         }
      }
   }
}

.containerButton {
   background-color: v.$backgroundPrimary;
   max-width: 100%;
   padding: 1rem 0 1.5rem 0;
   display: flex;
   justify-content: center;

   button {
      width: 90%;
      margin: 0 0.3rem;
      border: none;
      border-radius: 10px;
      background-color: v.$primary;
      padding: 1rem;
      color: v.$backgroundBody;
      font-size: 1.3rem;
      font-weight: 800;
      transition-property: transform background-color color;
      transition-duration: 0.4s;

      @include m.generalFormMq {
         font-size: 1.3rem;
      }

      &:hover {
         cursor: pointer;
         transform: scale(1.02);
         background-color: #1e90ff;
      }
   }

   .cleanCart {
      &:hover {
         cursor: pointer;
         color: white;
         transform: scale(1.02);
         background-color: rgba(220, 17, 17, 0.69);
      }
   }
}
